@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#flag {
    font-family: "Noto Color Emoji", Verdana, sans-serif;
}

.emoji {
    font-family: "Noto Color Emoji", Verdana, sans-serif;
}