@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    text-align: justify;
}

.main-content {
    background-color: #fdfdfd;
    width: calc(100% - 32pt);
    padding: 16pt;
    box-shadow: 0 4pt 8pt rgb(0 0 0 / 0.2);
    position: relative;
}

#flag {
    font-family: "Noto Color Emoji", Roboto, Verdana, sans-serif;
    position: absolute;
    top: 8pt;
    right: 8pt;
    font-size: 16pt;
    box-shadow: 0 4pt 8pt rgb(0 0 0 / 0.2);
    border: 1pt solid rgb(0 0 0 / 0.1);
    border-radius: 8pt;
}

.emoji {
    font-family: "Noto Color Emoji", Roboto, Verdana, sans-serif;
}

h1 {
    margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 8pt;
    margin-bottom: 0;
}

p {
    margin-top: 4pt;
    margin-bottom: 0;
}

ol {
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol li {
    margin-top: 4pt;
}

ol li::marker {
    content: " ";
}

ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}

ol>li {
    font-size: 1.5em;
    font-weight: bold;
}

ol>li>ol>li,
ol>li>p {
    font-size: 0.6666666666em;
    font-weight: normal;
}

@media screen and (min-width: 600px) {
    .main-content {
        max-width: calc(1000px - 32pt);
        margin: 16pt auto;
        border-radius: 16pt;
    }
}